{{define "form/streamSplitHTTP"}}
<a-form :colon="false" :label-col="{ md: {span:8} }" :wrapper-col="{ md: {span:14} }">
    <a-form-item label='host'>
        <a-input v-model.trim="inbound.stream.splithttp.host"></a-input>
    </a-form-item>
    <a-form-item label='path'>
        <a-input v-model.trim="inbound.stream.splithttp.path"></a-input>
    </a-form-item>
    <a-form-item label="Request header">
        <a-row>
            <a-button size="small" @click="inbound.stream.splithttp.addHeader('Host', '')">
                +
            </a-button>
        </a-row>
        <a-input-group v-for="(header, index) in inbound.stream.splithttp.headers">
            <a-input style="width: 50%" v-model.trim="header.name" addon-before="Name"></a-input>
            <a-input style="width: 50%" v-model.trim="header.value" addon-before="Value">
                <template slot="addonAfter">
                    <a-button size="small" @click="inbound.stream.splithttp.removeHeader(index)">
                        -
                    </a-button>
                </template>
            </a-input>
        </a-input-group>
    </a-form-item>
    <a-form-item label="Mode">
        <a-select v-model="inbound.stream.splithttp.mode" style="width: 50%">
            <a-select-option v-for="key in MODE_OPTION" :value="key">[[ key ]]</a-select-option>
            </a-select>
    </a-form-item>
    <a-form-item label="Max Concurrent Upload">
        <a-input-number v-model="inbound.stream.splithttp.scMaxConcurrentPosts" :min="0"></a-input-number>
    </a-form-item>
    <a-form-item label="Max Upload Size (Byte)">
        <a-input-number v-model="inbound.stream.splithttp.scMaxEachPostBytes" :min="0"></a-input-number>
    </a-form-item>
    <a-form-item label="Min Upload Interval (Ms)">
        <a-input-number v-model="inbound.stream.splithttp.scMinPostsIntervalMs" :min="0"></a-input-number>
    </a-form-item>
    <a-form-item label="No SSE Header">
        <a-switch v-model="inbound.stream.splithttp.noSSEHeader"></a-switch>
    </a-form-item>
    <a-form-item>
        <span slot="label">
            xPadding Bytes (Byte)
            <a-tooltip>
                <template slot="title">
                    Set the padding size of the request (outbound) and response (inbound) to reduce the request fingerprint.The unit byte, the default is "100-1000", and a number will be randomly selected in this range each time. It can also be a single number "200"/200
                    Setting to -1 will completely disable padding
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-input v-model.trim="inbound.stream.splithttp.xPaddingBytes" style="width: 100px"></a-input>
    </a-form-item>

    <a-form-item>
        <span slot="label">
            Max Connections
            <a-tooltip>
                <template slot="title">
                    maxConnections: The default value is empty and the maximum number of connections to be opened is 0 (that is, unlimited). Before the connection reaches this value, the core will actively open the connection and create a new connection for each stream until this value is reached.
                    Then the core will start to reuse the established connection. Conflict with maxConcurrency.
                    All field types are int/string and support the writing of fixed value 16 or floating value "8-32"
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-input v-model.trim="inbound.stream.splithttp.xmux.maxConnections" style="width: 100px"></a-input>
    </a-form-item>

    <a-form-item>
        <span slot="label">
            Max Concurrency
            <a-tooltip>
                <template slot="title">
                    maxConcurrency: The default value is empty and 0 (that is, unlimited). The maximum number of streams multiplexed in each connection. After the number of streams in the connection reaches this value, the core will create more connections to accommodate more streams.，
                    Similar to mux.Cool's concurrency. Conflict with maxConnections.
                    All field types are int/string and support the writing of fixed value 16 or floating value "8-32"
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-input v-model.trim="inbound.stream.splithttp.xmux.maxConcurrency" style="width: 100px"></a-input>
    </a-form-item>

    <a-form-item label="Max Reuse Times">
        <a-input v-model.trim="inbound.stream.splithttp.xmux.cMaxReuseTimes" style="width: 100px"></a-input>
    </a-form-item>
    <a-form-item label="Max Lifetime (ms)">
        <a-input v-model.trim="inbound.stream.splithttp.xmux.cMaxLifetimeMs" style="width: 100px"></a-input>
    </a-form-item>
    <a-form-item label="No gRPC Header">
        <a-switch v-model="inbound.stream.splithttp.noGRPCHeader"></a-switch>
    </a-form-item>
</a-form>
{{end}}