<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<style>
    @media (min-width: 769px) {
        .ant-layout-content {
            margin: 24px 16px;
        }
    }

    .ant-col-sm-24 {
        margin-top: 10px;
    }
</style>
<body>
<a-layout id="app" v-cloak>
    {{ template "commonSider" . }}
    <a-layout id="content-layout">
        <a-layout-content>
            <a-spin :spinning="spinning" :delay="200" :tip="loadingTip"/>
            <transition name="list" appear>
                <a-row>
                    <a-card hoverable>
                        <a-row>
                            <a-col :sm="24" :md="12">
                                <a-row>
                                    <a-col :span="12" style="text-align: center">
                                        <a-progress type="dashboard" status="normal"
                                                    :stroke-color="status.cpu.color"
                                                    :percent="status.cpu.percent"></a-progress>
                                        <div>CPU</div>
                                    </a-col>
                                    <a-col :span="12" style="text-align: center">
                                        <a-progress type="dashboard" status="normal"
                                                    :stroke-color="status.mem.color"
                                                    :percent="status.mem.percent"></a-progress>
                                        <div>
                                            memory: [[ sizeFormat(status.mem.current) ]] / [[ sizeFormat(status.mem.total) ]]
                                        </div>
                                    </a-col>
                                </a-row>
                            </a-col>
                            <a-col :sm="24" :md="12">
                                <a-row>
                                    <a-col :span="12" style="text-align: center">
                                        <a-progress type="dashboard" status="normal"
                                                    :stroke-color="status.swap.color"
                                                    :percent="status.swap.percent"></a-progress>
                                        <div>
                                            swap: [[ sizeFormat(status.swap.current) ]] / [[ sizeFormat(status.swap.total) ]]
                                        </div>
                                    </a-col>
                                    <a-col :span="12" style="text-align: center">
                                        <a-progress type="dashboard" status="normal"
                                                    :stroke-color="status.disk.color"
                                                    :percent="status.disk.percent"></a-progress>
                                        <div>
                                            hard disk: [[ sizeFormat(status.disk.current) ]] / [[ sizeFormat(status.disk.total) ]]
                                        </div>
                                    </a-col>
                                </a-row>
                            </a-col>
                        </a-row>
                    </a-card>
                </a-row>
            </transition>
            <transition name="list" appear>
                <a-row>
                    <a-col :sm="24" :md="12">
                        <a-card hoverable>
                            Xray-ui: <a-tag color="green">v{{ .cur_ver }}</a-tag></a>
                            Xray: <a-tag color="green" style="cursor: pointer;" @click="openSelectV2rayVersion">v[[ status.xray.version ]]</a-tag>
                            github: <a href="https://github.com/qist/xray-ui/blob/main/README.md" target="_blank"><a-tag color="green">Tutorial</a-tag></a>
                            【geoip geosite】version: <a-tag  color="green">[[ Version ]]</a-tag></a>
                        </a-card>
                    </a-col>
                    <a-col :sm="24" :md="12">
                        <a-card hoverable>
                            Running time:
                            <a-tag color="#87d068">[[ formatSecond(status.uptime) ]]</a-tag>
                            <a-tooltip>
                                <template slot="title">
                                    The running time of the system since startup
                                </template>
                                <a-icon type="question-circle" theme="filled"></a-icon>
                            </a-tooltip>
                        </a-card>
                    </a-col>
                    <a-col :sm="24" :md="12">
                        <a-card hoverable>
                            Xray status:
                            <a-tag :color="status.xray.color">[[ status.xray.state ]]</a-tag>
                            <a-tooltip v-if="status.xray.state === State.Error">
                                <template slot="title">
                                    <p v-for="line in status.xray.errorMsg.split('\n')">[[ line ]]</p>
                                </template>
                                <a-icon type="question-circle" theme="filled"></a-icon>
                            </a-tooltip>
                            <a-tag color="green" @click="openSelectV2rayVersion">[[ status.xray.version ]]</a-tag>
                            <a-tag color="blue" @click="openSelectV2rayVersion">Xray version switch</a-tag>
                            <a-tag color="blue" @click="AllIPUpdate">Update【geoip geosite】</a-tag>
                            <a-tag color="blue" style="cursor: pointer;" @click="stopXrayService">Stop</a-tag>
                            <a-tag color="blue" style="cursor: pointer;" @click="restartXrayService">Restart</a-tag>
                        </a-card>
                    </a-col>
                    <a-col :sm="24" :md="12">
                        <a-card hoverable>
                            Other:
                            <a-tag color="blue" style="cursor: pointer;" @click="openConfig">Open config</a-tag>
                            <a-tag color="blue" style="cursor: pointer;" @click="openBackup">Open backup</a-tag>
                            <a-tag  color="red">The default CN IP url is blocked. For modification, please go to "xray Related Settings" under "Panel Configuration" to configure</a-tag></a>
                        </a-card>
                    </a-col>
                    <a-col :sm="24" :md="12">
                        <a-card hoverable>
                            System load: [[ status.loads[0] ]] | [[ status.loads[1] ]] | [[ status.loads[2] ]]
                        </a-card>
                    </a-col>
                    <a-col :sm="24" :md="12">
                        <a-card hoverable>
                            tcp / udp Number of connections: [[ status.tcpCount ]] / [[ status.udpCount ]]
                            <a-tooltip>
                                <template slot="title">
                                    The total number of connections of all network cards
                                </template>
                                <a-icon type="question-circle" theme="filled"></a-icon>
                            </a-tooltip>
                        </a-card>
                    </a-col>
                    <a-col :sm="24" :md="12">
                        <a-card hoverable>
                            <a-row>
                                <a-col :span="12">
                                    <a-icon type="arrow-up"></a-icon>
                                    [[ sizeFormat(status.netIO.up) ]] / S
                                    <a-tooltip>
                                        <template slot="title">
                                            Total upload speed of all network cards
                                        </template>
                                        <a-icon type="question-circle" theme="filled"></a-icon>
                                    </a-tooltip>
                                </a-col>
                                <a-col :span="12">
                                    <a-icon type="arrow-down"></a-icon>
                                    [[ sizeFormat(status.netIO.down) ]] / S
                                    <a-tooltip>
                                        <template slot="title">
                                            Total download speed of all network cards
                                        </template>
                                        <a-icon type="question-circle" theme="filled"></a-icon>
                                    </a-tooltip>
                                </a-col>
                            </a-row>
                        </a-card>
                    </a-col>
                    <a-col :sm="24" :md="12">
                        <a-card hoverable>
                            <a-row>
                                <a-col :span="12">
                                    <a-icon type="cloud-upload"></a-icon>
                                    [[ sizeFormat(status.netTraffic.sent) ]]
                                    <a-tooltip>
                                        <template slot="title">
                                            The total upload traffic of all network cards since the system started
                                        </template>
                                        <a-icon type="question-circle" theme="filled"></a-icon>
                                    </a-tooltip>
                                </a-col>
                                <a-col :span="12">
                                    <a-icon type="cloud-download"></a-icon>
                                    [[ sizeFormat(status.netTraffic.recv) ]]
                                    <a-tooltip>
                                        <template slot="title">
                                            The total download traffic of all network cards since the system started
                                        </template>
                                        <a-icon type="question-circle" theme="filled"></a-icon>
                                    </a-tooltip>
                                </a-col>
                            </a-row>
                        </a-card>
                    </a-col>
                </a-row>
            </transition>
        </a-layout-content>
    </a-layout>
    <a-modal id="version-modal" v-model="versionModal.visible" title="Xray version switch"
             :closable="true" @ok="() => versionModal.visible = false"
             ok-text="Ok" cancel-text="Cancel">
        <h2>Click the version you want to switch</h2>
        <h2>Please choose carefully, the old version may be incompatible with the configuration</h2>
        <template v-for="version, index in versionModal.versions">
            <a-tag :color="index % 2 == 0 ? 'blue' : 'green'"
                   style="margin: 10px" @click="switchV2rayVersion(version)">
                [[ version ]]
            </a-tag>
        </template>
    </a-modal>
    <a-modal id="version-modal" v-model="versionModal.allip" title="Update【geoip geosite】"
             :closable="true" @ok="() => versionModal.allip = false"
             ok-text="Ok" cancel-text="Cancel">
        <h2>Click on the version you want to update</h2>
        <!-- <h2>请谨慎选择，旧版本可能配置不兼容</h2> -->
        <template v-for="version, index in versionModal.allips">
            <a-tag :color="index % 2 == 0 ? 'blue' : 'green'"
                   style="margin: 10px" @click="AllIPUpdateVersion(version)">
                [[ version ]]
            </a-tag>
        </template>
    </a-modal>
    <a-modal id="backup-modal" v-model="backupModal.visible" :title="backupModal.title"
            :closable="true" :class="themeSwitcher.darkCardClass"
            @ok="() => backupModal.hide()" @cancel="() => backupModal.hide()">
        <p style="color: inherit; font-size: 16px; padding: 4px 2px;">
            <a-icon type="warning" style="color: inherit; font-size: 20px;"></a-icon>
            [[ backupModal.description ]]
        </p>
        <a-space direction="horizontal" style="text-align: center" style="margin-bottom: 10px;">
            <a-button type="primary" @click="exportDatabase()">
                [[ backupModal.exportText ]]
            </a-button>
            <a-button type="primary" @click="importDatabase()">
                [[ backupModal.importText ]]
            </a-button>
        </a-space>
    </a-modal>
</a-layout>
{{template "js" .}}
{{template "component/themeSwitcher" .}}
{{template "textModal"}}
<script>

    const State = {
        Running: "running",
        Stop: "stop",
        Error: "error",

    }
    Object.freeze(State);

    class CurTotal {

        constructor(current, total) {
            this.current = current;
            this.total = total;
        }

        get percent() {
            if (this.total === 0) {
                return 0;
            }
            return toFixed(this.current / this.total * 100, 2);
        }

        get color() {
            const percent = this.percent;
            if (percent < 80) {
                return '#67C23A';
            } else if (percent < 90) {
                return '#E6A23C';
            } else {
                return '#F56C6C';
            }
        }
    }

    class Status {
        constructor(data) {
            this.cpu = new CurTotal(0, 0);
            this.disk = new CurTotal(0, 0);
            this.loads = [0, 0, 0];
            this.mem = new CurTotal(0, 0);
            this.netIO = {up: 0, down: 0};
            this.netTraffic = {sent: 0, recv: 0};
            this.swap = new CurTotal(0, 0);
            this.tcpCount = 0;
            this.udpCount = 0;
            this.uptime = 0;
            this.xray = {state: State.Stop, errorMsg: "", version: "", color: ""};

            if (data == null) {
                return;
            }
            this.cpu = new CurTotal(data.cpu, 100);
            this.disk = new CurTotal(data.disk.current, data.disk.total);
            this.loads = data.loads.map(load => toFixed(load, 2));
            this.mem = new CurTotal(data.mem.current, data.mem.total);
            this.netIO = data.netIO;
            this.netTraffic = data.netTraffic;
            this.swap = new CurTotal(data.swap.current, data.swap.total);
            this.tcpCount = data.tcpCount;
            this.udpCount = data.udpCount;
            this.uptime = data.uptime;
            this.xray = data.xray;
            switch (this.xray.state) {
                case State.Running:
                    this.xray.color = "green";
                    break;
                case State.Stop:
                    this.xray.color = "orange";
                    break;
                case State.Error:
                    this.xray.color = "red";
                    break;
                default:
                    this.xray.color = "gray";
            }
        }
    }

    const versionModal = {
        visible: false,
        geoip: false,
        geosite: false,
        geosites: [],
        versions: [],
        geoips:[],
        allip: false,
        allips: [],
        show(versions) {
            this.visible = true;
            this.versions = versions;
        },
        allshow(versions){
            this.allip = true;
            this.allips = versions;
        },
        hide() {
            this.visible = false;
        },
    };

    const backupModal = {
        visible: false,
        title: '',
        description: '',
        exportText: '',
        importText: '',
        show({
            title = 'Backup and restore the database',
            description = 'Remember to make a backup before importing a new database.。',
            exportText = 'Export db',
            importText = 'Import db',
        }) {
            this.title = title;
            this.description = description;
            this.exportText = exportText;
            this.importText = importText;
            this.visible = true;
        },
        hide() {
            this.visible = false;
        },
    };

    const app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            siderDrawer,
            status: new Status(),
            versionModal,
            backupModal,
            spinning: false,
            loadingTip: 'Loading',
            Version: "",

        },
        methods: {
            loading(spinning, tip = 'Loading') {
                this.spinning = spinning;
                this.loadingTip = tip;
            },
            async getStatus() {
                const msg = await HttpUtil.post('/server/status');
                if (msg.success) {
                    this.setStatus(msg.obj);
                }
            },
            setStatus(data) {
                this.status = new Status(data);
            },
            async openSelectV2rayVersion() {
                this.loading(true);
                const msg = await HttpUtil.post('server/getXrayVersion');
                this.loading(false);
                if (!msg.success) {
                    return;
                }
                versionModal.show(msg.obj);
            },
            async AllIPUpdate(){
            this.loading(true);
            const urls = ['server/getGeoipVersion'];
            const results = await Promise.all(urls.map(url => HttpUtil.post(url)));
            this.loading(false);
            for (let msg of results) {
                if (!msg.success) {
                    return;
                }
                versionModal.allshow(msg.obj);
            }
        },
            switchV2rayVersion(version) {
                this.$confirm({
                    title: 'Switch xray version',
                    content: 'Whether to switch the xray version to' + ` ${version}?`,
                    okText: 'Ok',
                    class: themeSwitcher.darkCardClass,
                    cancelText: 'Cancel',
                    onOk: async () => {
                        versionModal.hide();
                        this.loading(true, 'During installation, please do not refresh this page');
                        await HttpUtil.post(`/server/installXray/${version}`);
                        this.loading(false);
                    },
                });
            },
            AllIPUpdateVersion(version){
            this.$confirm({
                title: 'Switch geoip,geosite version',
                content: 'Whether to switch geoip, geosite version to' + ` ${version}?`,
                okText: 'Ok',
                class: themeSwitcher.darkCardClass,
                cancelText: 'Cancel',
                onOk: async () => {
                    versionModal.hide();
                    this.loading(true, 'During installation, please do not refresh this page');
                    const urls = [`/server/installGeosite/${version}`, `/server/installGeoip/${version}`];
                    await Promise.all(urls.map(url => HttpUtil.post(url)));
                    const msg = await HttpUtil.post(`/server/getVersion/${version}`)
                    this.Version = msg.obj
                    this.loading(false);
                },
            });
        },
	        //here add stop xray function
            async stopXrayService() {
                this.loading(true);
                const msg = await HttpUtil.post('server/stopXrayService');
                this.loading(false);
                if (!msg.success) {
                    return;
                }
            },
            //here add restart xray function
            async restartXrayService() {
                this.loading(true);
                const msg = await HttpUtil.post('server/restartXrayService');
                this.loading(false);
                if (!msg.success) {
                    return;
                }
            },
            async openConfig(){
                this.loading(true);
                const msg = await HttpUtil.post('server/getConfigJson');
                this.loading(false);
                if (!msg.success) {
                    return;
                }
                txtModal.show('config.json',JSON.stringify(msg.obj, null, 2),'config.json');
            },
            async getVersionstatus() {
                const msg = await HttpUtil.get('server/getVersion');

                if (!msg.success) {
                    return;
                }
                this.Version = msg.obj

            },
            openBackup() {
                backupModal.show({
                    title: 'Backup and restore the database',
                    description: 'Remember to make a backup before importing a new database.',
                    exportText: 'Export db',
                    importText: 'Import db',
                });
            },
            exportDatabase(){
                window.location = basePath + 'server/getDb';
            },
            importDatabase() {
                const fileInput = document.createElement('input');
                fileInput.type = 'file';
                fileInput.accept = '.db';
                fileInput.addEventListener('change', async (event) => {
                    const dbFile = event.target.files[0];
                    if (dbFile) {
                        const formData = new FormData();
                        formData.append('db', dbFile);
                        backupModal.hide();
                        this.loading(true);
                        const uploadMsg = await HttpUtil.post('server/importDB', formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data',
                            }
                        });
                        this.loading(false);
                        if (!uploadMsg.success) {
                            return;
                        }
                        this.loading(true);
                        const restartMsg = await HttpUtil.post("/xui/setting/restartPanel");
                        this.loading(false);
                        if (restartMsg.success) {
                            this.loading(true);
                            await PromiseUtil.sleep(5000);
                            location.reload();
                        }
                    }
                });
                fileInput.click();
            },
        },
        async mounted() {
            await this.getVersionstatus()
            while (true) {
                try {
                    await this.getStatus();

                } catch (e) {
                    console.error(e);
                }
                await PromiseUtil.sleep(2000);
            }
        },
    });

</script>
</body>
</html>
